[user]
  email = patrick.j.ellis@gmail.com
  name = Patrick Ellis
[core]
  excludesfile = ~/.gitignore
  whitespace=fix,trailing-space,cr-at-eol
  pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[branch]
  autosetuprebase = always
[branch "main"]
  remote = origin
  merge = refs/heads/main
  rebase = true
[branch "master"]
  remote = origin
  merge = refs/heads/master
  rebase = true
[rerere]
  enabled = true
[alias]
  st = status
  co = checkout
  fx = !sh -c 'git commit --fixup=$1' -
  sha = !sh -c 'git rev-parse --short HEAD'
  dfc = diff --cached
  changes-since = !sh -c 'git log --left-right --graph --cherry-pick --oneline $1...HEAD' -
[color]
  ui = true
[github]
  user = pje
[gist]
  private = yes
[commit]
  gpgsign = true
[init]
  defaultBranch = main

