[user]
  email = patrick@soundcloud.com
  name = Patrick Ellis
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[branch "master"]
  remote = origin
  merge = refs/heads/master
  rebase = true
[rerere]
  enabled = true
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
[color]
  ui = true
[credential]
  helper = osxkeychain
[github]
  user = pje
[gist]
  private = yes
