"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-solarized-dark-ui"
      "solarized-dark-syntax"
    ]
    disabledPackages: [
      "symbols-view"
      "metrics"
    ]
    audioBeep: false
    excludeVcsIgnoredPaths: true
  editor:
    invisibles:
      {}
    fontFamily: "Consolas"
    fontSize: 12
    showIndentGuide: true
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 60000
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  linter:
    lintOnChange: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
    sortFoldersBeforeFiles: false
